/* ==UserStyle==
@name         Dark Medium
@description  Dark mode/style/theme for Medium.com
@namespace    https://github.com/Phosphorus-M/Dark-medium/blob/main/dark-medium.user.css
@homepageURL  https://github.com/Phosphorus-M/Dark-medium/blob/main/dark-medium.user.css
@supportURL   https://github.com/Phosphorus-M/Dark-medium/blob/main/dark-medium.user.css
@author       Phosphorus
@version      0.0.1

==/UserStyle== */
@-moz-document domain("medium.com") {

  /* Disable */
  div:not(.bp) {
    background: transparent !important;
    background-color: transparent;
  }

  /* Text */
  div.u-textColorNormal, h1.u-textColorDark, p, span, div, figcaption, li, a, h1, h2, h3, h4 {
    color: #f8f8f2 !important;
  }

  /* Root */
  body {
    background-color: #1f2129 !important;
    color: #f8f8f2 !important;
  }

  /* Popup */
  .bp {
    background-color: #282a36 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px !important;
  }

  /* Logo */
  svg, .aw, .ax {
    fill: #f8f8f2 !important;
  }

  /* Buttons */
  button {
    border-color: #f8f8f2 !important;
  }

  button:selected {
    color: #f8f8f2 !important;
  }

  /* Navigation */
  nav {
    background-color: #6a737d33 !important;
    backdrop-filter: blur(10px) saturate(125%);
    padding-bottom: 5px;
  }
  /* Highlights and snippets */
  .gist .highlight {
    background: #333;
  }

  .gist .blob-code, .gist .blob-num {
    color: #7a81a9;
  }
  
  .ft{
    background-color: #333333;
    
  }
}
